@import "income";
@import "layout";
@import "main";
@import "income-expenses";




.form-floating > label {
  top: -11px;

}

.form{
  margin-top: 130px;

.logo-autorize {
  display: flex;
  justify-content: center;
}
  .checkbox-div{
    margin-top: 0;
    margin-bottom: 20px;
    .remember-me{
      font-size: 12px;
    }
  }
  .link-page{
    margin-top: 10px;
    font-size: 12px;
  }
  .title {
    margin: 60px 0 30px 0;
    color: #052C65;
  }
  .text {
    color: #6C757D;
  }
  .style{
    margin-bottom: 10px;
    .icon {
      color: #6C757D;
    }
    .form-control{
      min-height: 38px;
      height: 38px;
    }

  }
}

.create-income-expense {
  padding: 16px;
  margin: 23px;
  text-align: center;
}

.error {
  font-size: 14px;
  color: red;
  display: none;
}

#process-button:disabled {

  cursor: not-allowed;
}


#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  .card {
    width: 350px;
    .card-body {
      a{
        margin-right: 10px;
      }

    }
  }
}

#new-element{
  text-decoration: none;
  /* align-items: center; */
  color: #6C757D;
  font-size: 23px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  margin-top: 17px;
}

