<div class="container-fluid">
    <div class="title">
        <h1>Главная</h1>
    </div>

    <!--    <a href="/login">login</a>-->

    <div class="nav">
        <div class="btn-group button" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary such-button" data-period="today" id="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="week" id="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="year">Год</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="all">Все</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="interval">Интервал</button>
            <div class="date">
                <span  class="s">с </span>
                <input type="text" size="3" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
                       id="start-date" name="start"
                       placeholder="Дата" class="date text-decoration-underline border-0"
                       style="width: 100px; display: inline-block;">
                <span class="p"> по</span>
                <input type="text" size="3" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
                       id="end-date" name="start"
                       placeholder="Дата" class="date text-decoration-underline border-0"
                       style="width: 100px; display: inline-block;">
            </div>
        </div>

    </div>

    <div class="charts">
        <div class="charts-income">
            <h1 class="chart-title">Доходы</h1>
            <canvas id="chart-income" width="400" height="400"></canvas>
        </div>

        <div class="line">
            <svg xmlns="http://www.w3.org/2000/svg" width="1" height="450" viewBox="0 0 1 450" fill="#D9D9D9">
                <rect width="1" height="450" fill="#D9D9D9"/>
            </svg>

        </div>

        <div class="charts-expenses">
            <h1 class="chart-title">Расходы</h1>
            <canvas id="chart-expenses" width="400" height="400"></canvas>
        </div>
    </div>


</div>


<script src="src/components/main.js"></script>