<div class="container-fluid">
    <div class="title">
        <h1>Редактирование категории дохода</h1>
    </div>

    <div class="create-income">
        <div style="width: 397px; margin-bottom: 20px">
            <label for="formGroupExampleInput" class="form-label"></label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Название...">
        </div>
        <button class="btn btn-success" style="margin-right: 10px">Сохранить</button>
        <button class="btn btn-danger">Отмена</button>
    </div>
</div>