<div class="container-fluid">
    <div class="title">
        <h1>Расходы</h1>
    </div>

    <div class="row" id="row">
        <div class="col-sm-4 mt-4" id="cards"></div>

    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center align-items-center" style="font-weight: 700;font-size: 20px;">
                    <p>Вы действительно хотите удалить категорию?</p>
                </div>
                <div class="modal-footer d-flex justify-content-center border-0">
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-success" id="delete-btn" data-bs-dismiss="modal">Да, удалить</a>
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-danger" data-bs-dismiss="modal">Не удалять</a>
                </div>
            </div>
        </div>
    </div>

</div>


