<div class="container">
    <div class="title">
        <h1>Доходы и расходы</h1>
    </div>
    <div class="create-button">
        <a href="/create-income-in-income-expense" class="btn btn-success" id="button-income">Создать доход</a>
        <a href="/create-expense-in-income-expense" class="btn btn-danger" id="button-expense" >Создать расход</a>
    </div>
    <div class="nav">
        <div class="btn-group button" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary such-button"  id="today" data-period="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary such-button" id="week" data-period="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="year">Год</button>
            <button type="button" class="btn btn-outline-secondary such-button active" id="all" data-period="all">Все</button>
            <button type="button" class="btn btn-outline-secondary such-button" data-period="interval">Интервал</button>
            <div class="date">
                <span class="s">с </span>
                <input type="text"  size="3" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
                       id="start-date" name="start"
                       placeholder="Дата" class="date text-decoration-underline border-0"
                       style="width: 100px; display: inline-block;">
                <span class="p"> по</span>
                <input type="text" size="3" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
                       id="end-date" name="start"
                       placeholder="Дата" class="date text-decoration-underline border-0"
                       style="width: 100px; display: inline-block; ">
            </div>
        </div>
        </div>

    <table class="table" id="data=table">
        <thead>
        <tr class="tr-header">
            <th scope="col" class="head">№ операции</th>
            <th scope="col" class="head">Тип</th>
            <th scope="col" class="head">Категория</th>
            <th scope="col" class="head">Сумма</th>
            <th scope="col" class="head">Дата</th>
            <th scope="col" class="head">Комментарий</th>
            <th scope="col" class="head"></th>
        </tr>
        </thead>
        <tbody id="records">

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center align-items-center" style="font-weight: 700;font-size: 20px;">
                        <p>Вы действительно хотите удалить категорию?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center border-0">
                        <a href="javascript:void(0)" type="button" class="modal-btn btn btn-success" id="delete-btn"
                           data-bs-dismiss="modal">Да, удалить</a>
                        <a  href="javascript:void(0)" type="button" class="modal-btn btn btn-danger" data-bs-dismiss="modal">Не
                            удалять</a>
                    </div>
                </div>
            </div>
        </div>
        </tbody>
    </table>
</div>




