<div class="container-fluid">
    <div class="title">
        <h1>Создание категории доходов</h1>
    </div>

    <div class="create-income">
        <div style="width: 397px; margin-bottom: 20px">
            <label for="formGroupExampleInput" class="form-label"></label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Название...">
        </div>
        <button class="btn btn-success" id="create-button"  style="margin-right: 10px">Создать</button>
        <a href="/income" class="btn btn-danger">Отменить</a>
    </div>
</div>